<h1>Listing posts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Type</th>
    <th>Title</th>
    <th>Text</th>
    <th>Lat</th>
    <th>Lng</th>
	<th>Likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
	<td><%= post.id %></td>
    <td><%= post.post_type %></td>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= post.lat %></td>
    <td><%= post.lng %></td>
	<td><%= post.likes %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
